.post-header {
  padding: 35px;
  padding-top: 100px;
  min-height: 350px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  box-shadow: 0 1px -2px #333;
  text-align: center;
}

.post-container {
  padding: 25px 10px;
  padding-bottom: 150px;
  max-width: 700px;
  margin: 0 auto;
  .post-title {

    h3 {
        font-size: 2.5em;
        color: #48AD01;
    }

    h4 {
      font-size: 1.2em;
    }

    .post-date {
      font-size: 0.9em;
    }
  }

  .post-content {
    font-size: 1.15em;
    margin-top: 25px;

    p.indent {
      text-indent: 40px;
    }

    pre {
      border-radius: 0;
    }

    .aligncenter	{ display: block; margin: 0 auto; }
    .alignright	{ float: right; margin: 0 0 1em 1em; }
    .alignleft	{ float: left; margin: 0 1em 1em 0; }
    .floatleft	{ float: left; }
    .floatright	{ float: right; }
  }
}

@media (max-width: 768px) {
  .post-container {
    padding-bottom: 210px;
  }
}
