@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
html {
  margin-top: 0 !important;
  overflow-y: scroll; }

body {
  padding: 0;
  margin: 0; }

html, body {
  min-height: 100%; }

.app-container {
  min-height: 100%;
  position: relative;
  background-color: #eee; }

.app-footer {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0; }

footer.footer {
  background-color: #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px; }
  footer.footer .container {
    padding: 15px; }
  footer.footer .author {
    padding-left: 10px; }
    footer.footer .author > * {
      display: inline-block;
      vertical-align: top;
      font-family: 'Montserrat', sans-serif; }
    footer.footer .author img.profile {
      width: 60px;
      height: auto;
      border: 2px solid #DDD;
      margin-bottom: 0px; }
    footer.footer .author .title {
      padding-left: 10px;
      font-family: 'Lato', sans-serif;
      font-weight: 600; }
      footer.footer .author .title .subtitle {
        font-size: 11px;
        font-family: 'Lato', sans-serif; }
      footer.footer .author .title .social {
        margin-top: 4px; }
        footer.footer .author .title .social a {
          color: #212121; }
  footer.footer .navbar-nav {
    float: right; }
    footer.footer .navbar-nav > li > a {
      color: #333;
      margin: 10px;
      font-size: 11px;
      font-weight: 400;
      padding: 8px 15px;
      font-family: 'Lato', sans-serif; }
    footer.footer .navbar-nav > li > a:hover {
      background-color: rgba(255, 255, 255, 0.6);
      color: #333;
      cursor: pointer; }
    footer.footer .navbar-nav > li.active > a {
      color: #333;
      background-color: rgba(255, 255, 255, 0.2); }
  @media (max-width: 768px) {
    footer.footer .author {
      text-align: center;
      padding-left: 0px; }
      footer.footer .author > * {
        display: block; }
      footer.footer .author img.profile {
        margin: 0 auto;
        margin-bottom: 5px; }
    footer.footer .navbar-nav {
      float: none;
      display: block;
      margin: 0 auto;
      text-align: center; }
      footer.footer .navbar-nav > li {
        display: inline-block; } }

.app-header {
  padding-top: 100px;
  min-height: 500px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  text-align: center; }
  .app-header img.logo {
    width: 150px;
    height: auto; }

.blog-list-container {
  display: block;
  position: relative;
  padding-bottom: 100px; }
  .blog-list-container .sidebar {
    display: block;
    position: relative;
    padding: 45px 15px; }
    .blog-list-container .sidebar ul.blog-categories {
      text-align: left;
      list-style: none;
      margin: 0;
      padding: 0; }
      .blog-list-container .sidebar ul.blog-categories > li {
        display: block; }
        .blog-list-container .sidebar ul.blog-categories > li a {
          display: block;
          padding: 8px 15px;
          color: #212121;
          font-family: 'Lato', sans-serif;
          font-size: 13px;
          text-decoration: none; }
      .blog-list-container .sidebar ul.blog-categories > li.active {
        background-color: #55c34d; }
        .blog-list-container .sidebar ul.blog-categories > li.active a {
          color: #fff; }
      .blog-list-container .sidebar ul.blog-categories > li:hover {
        cursor: pointer;
        background-color: #FFF; }
      .blog-list-container .sidebar ul.blog-categories > li.active:hover {
        cursor: pointer;
        background-color: #55c34d; }
  .blog-list-container .blog-list {
    display: block;
    position: relative;
    padding: 45px 15px; }
    .blog-list-container .blog-list .blog {
      text-decoration: none;
      display: block;
      animation-duration: 0.5s;
      margin-bottom: 30px; }
      .blog-list-container .blog-list .blog > div {
        background-color: #FFF;
        padding: 0px;
        border-radius: 2px;
        box-shadow: 0 1px 1px #CCC; }
        .blog-list-container .blog-list .blog > div .title {
          color: #444;
          text-decoration: none;
          padding: 30px;
          flex-grow: 13;
          flex-basis: 0; }
          .blog-list-container .blog-list .blog > div .title h4 {
            color: #EB4A4B;
            font-weight: 600;
            font-family: 'Lato', sans-serif; }
          .blog-list-container .blog-list .blog > div .title p {
            color: #444;
            font-family: 'Lato', sans-serif; }
          .blog-list-container .blog-list .blog > div .title .readmore {
            font-size: 11px;
            margin-top: 15px;
            margin-bottom: 0; }
        .blog-list-container .blog-list .blog > div a:hover {
          text-decoration: none; }
      .blog-list-container .blog-list .blog > div.thumbnail-min {
        display: flex;
        align-items: stretch; }
        .blog-list-container .blog-list .blog > div.thumbnail-min .thumbnail {
          margin-bottom: 0;
          text-align: center;
          flex-grow: 2;
          flex-basis: 0;
          overflow: hidden;
          border-radius: 0;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          border: 0;
          position: relative;
          display: block;
          padding: 30px 15px;
          background-color: #EB4A4B; }
          .blog-list-container .blog-list .blog > div.thumbnail-min .thumbnail img {
            height: auto;
            width: 50px;
            filter: brightness(5);
            -webkit-filter: brightness(5); }
      .blog-list-container .blog-list .blog > div:after {
        position: relative;
        display: block;
        content: '';
        clear: both; }

@media (max-width: 768px) {
  .blog-list-container {
    padding-bottom: 160px; } }

.post-loading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin-bottom: 30px; }
  .post-loading i {
    font-size: 20px;
    margin-bottom: 5px; }

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.navbar {
  z-index: 4000;
  height: 100px;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  background-color: #FFF; }
  .navbar .navbar-nav .navbar-close {
    background-color: transparent;
    border: 0;
    right: 0;
    color: #FFF;
    padding: 4px 10px;
    margin: 5px 20px 10px auto;
    font-size: 1.2em; }
  .navbar .navbar-nav > li > a {
    background-color: transparent;
    color: #0B8389;
    line-height: 100px;
    vertical-align: middle;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding: 0 2em;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .navbar .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #555;
    cursor: pointer; }
  .navbar .navbar-nav > li:last-child a {
    padding-right: 0; }
  .navbar .navbar-nav > li.active > a {
    background-color: transparent;
    color: #0B8389; }
  .navbar .navbar-nav > li.active > a:hover {
    background-color: transparent; }

.navbar {
  padding-left: 0;
  border-bottom: 0;
  background-color: #FFF;
  box-shadow: none; }
  .navbar .navbar-header {
    border-bottom: 0 solid #e7e7e7; }
    .navbar .navbar-header .navbar-brand {
      margin-left: 0;
      display: block;
      padding: 0;
      overflow: hidden;
      font-family: 'Varela Round', sans-serif;
      height: 100px;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
      .navbar .navbar-header .navbar-brand img {
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        filter: brightness(0.3);
        -webkit-filter: brightness(0.3);
        margin: 10px;
        height: 80px;
        width: auto; }
    .navbar .navbar-header .navbar-expand-toggle {
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      opacity: 0.75; }
    .navbar .navbar-header .navbar-toggle {
      border-radius: 0;
      border: 0;
      background-color: transparent;
      line-height: 40px;
      vertical-align: middle;
      height: 40px; }
      .navbar .navbar-header .navbar-toggle .icon-bar {
        background-color: #FFF; }
  @media (max-width: 768px) {
    .navbar .navbar-collapse {
      border-top: 0;
      background-color: #55c34d;
      position: absolute;
      top: 0;
      width: 100%;
      box-shadow: none;
      border-bottom: 0; } }

.navbar-affix {
  width: 100%;
  border-top: 2px rgba(78, 205, 196, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: fixed;
  -webkit-box-shadow: 0 0 6px 0 rgba(96, 100, 109, 0.4);
  box-shadow: 0 0 6px 0 rgba(96, 100, 109, 0.4); }

.navbar.affix, .navbar.min {
  height: 60px; }
  .navbar.affix .navbar-header .navbar-brand, .navbar.min .navbar-header .navbar-brand {
    height: 60px; }
    .navbar.affix .navbar-header .navbar-brand img, .navbar.min .navbar-header .navbar-brand img {
      height: 40px; }
  .navbar.affix .navbar-nav > li > a, .navbar.min .navbar-nav > li > a {
    line-height: 60px; }

.loading-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 70px;
  padding: 10px;
  text-align: center;
  z-index: 4000;
  margin: 20px auto;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  animation-duration: 0.3s; }
  .loading-progress md-progress-circular.md-hue-2 .md-inner .md-gap {
    border-top-color: #55c34d;
    border-bottom-color: #55c34d; }
  .loading-progress md-progress-circular.md-hue-2 .md-inner .md-left .md-half-circle {
    border-left-color: #55c34d; }
  .loading-progress md-progress-circular.md-hue-2 .md-inner .md-right .md-half-circle {
    border-right-color: #55c34d; }
  .loading-progress md-progress-circular.md-hue-2 .md-inner .md-left .md-half-circle, .loading-progress md-progress-circular.md-hue-2 .md-inner .md-right .md-half-circle {
    border-top-color: #55c34d; }
  .loading-progress i {
    position: absolute;
    font-size: 86px;
    top: 0;
    left: 0;
    margin-top: -26px;
    color: #FFF; }

.post-header {
  padding: 180px 35px 35px;
  min-height: 400px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  box-shadow: 0 1px -2px #333;
  text-align: center; }
  .post-header .post-title {
    text-align: center; }
    .post-header .post-title h3 {
      font-size: 2.5em;
      color: #48ad01; }
    .post-header .post-title h4 {
      font-size: 1.2em; }
    .post-header .post-title .post-date {
      font-size: 0.9em; }

.post-container {
  padding: 25px 10px 150px;
  max-width: 700px;
  margin: 0 auto; }
  .post-container .post-content {
    font-size: 1.15em;
    margin-top: 25px;
    line-height: 1.65em;
    font-family: 'Lato', sans-serif; }
    .post-container .post-content p.indent {
      text-indent: 40px; }
    .post-container .post-content pre {
      border-radius: 0;
      padding: 0;
      background-color: #FFF; }
    .post-container .post-content code:not(.ng-high-light) {
      background-color: #fff;
      color: #f9690e;
      font-size: 0.8em;
      padding: 2px 5px; }
    .post-container .post-content .hljs {
      padding: 15px; }
    .post-container .post-content .aligncenter {
      display: block;
      margin: 0 auto; }
    .post-container .post-content .alignright {
      float: right;
      margin: 0 0 1em 1em; }
    .post-container .post-content .alignleft {
      float: left;
      margin: 0 1em 1em 0; }
    .post-container .post-content .floatleft {
      float: left; }
    .post-container .post-content .floatright {
      float: right; }
  .post-container .post-share-container {
    margin-top: 50px;
    text-align: center; }
    .post-container .post-share-container h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8em; }
    .post-container .post-share-container .post-share {
      text-align: center; }
      .post-container .post-share-container .post-share a {
        position: relative;
        display: inline-block;
        font-size: 11px;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        line-height: 15px;
        vertical-align: middle;
        text-decoration: none;
        border-radius: 2px; }
        .post-container .post-share-container .post-share a i {
          position: relative;
          display: block;
          padding: 10px;
          padding-bottom: 0px;
          font-size: 20px; }
        .post-container .post-share-container .post-share a div {
          position: relative;
          display: block;
          padding: 5px 10px;
          margin-bottom: 0; }
        .post-container .post-share-container .post-share a div.counter {
          display: inline-block;
          margin-left: 10px;
          padding: 2px 5px;
          background-color: rgba(255, 255, 255, 0.1); }
      .post-container .post-share-container .post-share a.facebook {
        background-color: #3b5998;
        color: #fff; }
        .post-container .post-share-container .post-share a.facebook i {
          border-bottom: 0px solid #EEE; }
      .post-container .post-share-container .post-share a.twitter {
        background-color: #55acee;
        color: #fff; }
        .post-container .post-share-container .post-share a.twitter i {
          border-bottom: 0px solid #EEE; }

@media (max-width: 768px) {
  .post-container {
    padding-bottom: 210px; } }
