@import url(http://fonts.googleapis.com/css?family=Montserrat);
html {
  margin-top: 0 !important; }

body {
  padding: 0;
  margin: 0; }

html, body {
  min-height: 100%; }

.app-container {
  min-height: 100%;
  position: relative;
  background-color: #eee; }

.app-footer {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0; }

footer.footer {
  background-color: #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px; }
  footer.footer .container {
    padding: 15px; }
  footer.footer .author {
    padding-left: 10px; }
    footer.footer .author > * {
      display: inline-block;
      vertical-align: top;
      font-family: 'Montserrat', sans-serif; }
    footer.footer .author img.profile {
      width: 60px;
      height: auto;
      border: 2px solid #DDD;
      margin-bottom: 0px; }
    footer.footer .author .title {
      padding-left: 10px; }
      footer.footer .author .title .subtitle {
        font-size: 11px; }
      footer.footer .author .title .social {
        margin-top: 4px; }
        footer.footer .author .title .social a {
          color: #212121; }
  footer.footer .navbar-nav {
    float: right; }
    footer.footer .navbar-nav > li > a {
      color: #333;
      margin: 10px;
      font-size: 11px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      padding: 8px 15px; }
    footer.footer .navbar-nav > li > a:hover {
      background-color: rgba(255, 255, 255, 0.6);
      color: #333;
      cursor: pointer; }
    footer.footer .navbar-nav > li.active > a {
      color: #333;
      background-color: rgba(255, 255, 255, 0.2); }
  @media (max-width: 768px) {
    footer.footer .author {
      text-align: center;
      padding-left: 0px; }
      footer.footer .author > * {
        display: block; }
      footer.footer .author img.profile {
        margin: 0 auto;
        margin-bottom: 5px; }
    footer.footer .navbar-nav {
      float: none;
      display: block;
      margin: 0 auto;
      text-align: center; }
      footer.footer .navbar-nav > li {
        display: inline-block; } }

.app-header {
  padding-top: 100px;
  min-height: 500px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  box-shadow: 0 1px -2px #333;
  text-align: center; }
  .app-header img.logo {
    width: 150px;
    height: auto; }

.blog-list-container {
  display: block;
  position: relative;
  padding-bottom: 100px; }
  .blog-list-container ul.blog-categories {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 10px; }
    .blog-list-container ul.blog-categories > li {
      display: inline-block;
      margin: 10px 4px; }
      .blog-list-container ul.blog-categories > li a {
        display: block;
        padding: 8px 15px;
        color: #212121;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        text-decoration: none; }
    .blog-list-container ul.blog-categories > li.active {
      background-color: #55c34d; }
      .blog-list-container ul.blog-categories > li.active a {
        color: #fff; }
    .blog-list-container ul.blog-categories > li:hover {
      cursor: pointer;
      background-color: #FFF; }
    .blog-list-container ul.blog-categories > li.active:hover {
      cursor: pointer;
      background-color: #55c34d; }
  .blog-list-container .blog-list {
    padding: 10px; }
    .blog-list-container .blog-list a.blog {
      text-decoration: none;
      display: block;
      animation-duration: 0.5s; }
      .blog-list-container .blog-list a.blog > div {
        border-radius: 1px;
        overflow: hidden;
        background-color: #fff;
        margin-bottom: 30px;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        position: relative; }
        .blog-list-container .blog-list a.blog > div .title {
          position: absolute;
          bottom: 0;
          padding: 8px 15px;
          background-color: rgba(0, 0, 0, 0.4);
          width: 100%;
          text-align: center;
          height: 80px;
          transition: all 0.2s ease;
          font-family: 'Montserrat', sans-serif; }
          .blog-list-container .blog-list a.blog > div .title > div {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            .blog-list-container .blog-list a.blog > div .title > div h4 {
              color: #fff;
              text-decoration: none;
              margin-bottom: 4px;
              width: 100%; }
            .blog-list-container .blog-list a.blog > div .title > div p {
              color: #fff;
              margin-bottom: 5px;
              width: 100%; }
            @media (max-width: 768px) {
              .blog-list-container .blog-list a.blog > div .title > div h4 {
                font-size: 1em; }
              .blog-list-container .blog-list a.blog > div .title > div p {
                font-size: 0.8em; } }
    .blog-list-container .blog-list a.blog:hover > div {
      background-color: #f9f9f9; }
      .blog-list-container .blog-list a.blog:hover > div .title {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); }

@media (max-width: 768px) {
  .blog-list-container {
    padding-bottom: 160px; } }

.post-loading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin-bottom: 30px; }
  .post-loading i {
    font-size: 20px;
    margin-bottom: 5px; }

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.navbar-affix {
  width: 100%;
  height: 60px;
  border-top: 2px rgba(78, 205, 196, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: fixed;
  -webkit-box-shadow: 0 0 6px 0 rgba(96, 100, 109, 0.2);
  box-shadow: 0 0 6px 0 rgba(96, 100, 109, 0.2); }

.navbar.affix {
  background-color: rgba(85, 195, 77, 0.96) !important; }

.navbar {
  z-index: 4000;
  height: 60px;
  opacity: 1;
  margin-top: 0;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2); }
  .navbar .navbar-nav .navbar-close {
    background-color: transparent;
    border: 0;
    right: 0;
    color: #FFF;
    padding: 4px 10px;
    margin: 5px 20px 10px auto;
    font-size: 1.2em; }
  .navbar .navbar-nav > li > a {
    color: #fff;
    margin: 10px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 8px 15px; }
  .navbar .navbar-nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    cursor: pointer; }
  .navbar .navbar-nav > li.active > a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2); }

.navbar-affix.affix-top .navbar-header .navbar-brand {
  display: none; }

.navbar {
  padding-left: 0;
  border-bottom: 0;
  background-color: transparent;
  box-shadow: none; }
  .navbar .navbar-header {
    border-bottom: 0 solid #e7e7e7; }
    .navbar .navbar-header .navbar-brand {
      margin-left: 0;
      display: block;
      padding: 0;
      overflow: hidden;
      font-family: 'Varela Round', sans-serif; }
      .navbar .navbar-header .navbar-brand img {
        margin: 10px;
        height: 40px;
        width: auto; }
    .navbar .navbar-header .navbar-expand-toggle {
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      opacity: 0.75; }
    .navbar .navbar-header .navbar-toggle {
      border-radius: 0;
      border: 0;
      background-color: transparent;
      line-height: 40px;
      vertical-align: middle;
      height: 40px; }
      .navbar .navbar-header .navbar-toggle .icon-bar {
        background-color: #FFF; }
  @media (max-width: 768px) {
    .navbar .navbar-collapse {
      border-top: 0;
      background-color: #55c34d;
      position: absolute;
      top: 0;
      width: 100%;
      box-shadow: none;
      border-bottom: 0; } }

.loading-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 70px;
  padding: 10px;
  text-align: center;
  z-index: 4000;
  margin: 20px auto;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  animation-duration: 0.3s; }
  .loading-progress md-progress-circular.md-hue-2 .md-inner .md-gap {
    border-top-color: #55c34d;
    border-bottom-color: #55c34d; }
  .loading-progress md-progress-circular.md-hue-2 .md-inner .md-left .md-half-circle {
    border-left-color: #55c34d; }
  .loading-progress md-progress-circular.md-hue-2 .md-inner .md-right .md-half-circle {
    border-right-color: #55c34d; }
  .loading-progress md-progress-circular.md-hue-2 .md-inner .md-left .md-half-circle, .loading-progress md-progress-circular.md-hue-2 .md-inner .md-right .md-half-circle {
    border-top-color: #55c34d; }
  .loading-progress i {
    position: absolute;
    font-size: 86px;
    top: 0;
    left: 0;
    margin-top: -26px;
    color: #FFF; }

.post-header {
  padding: 35px;
  padding-top: 100px;
  min-height: 350px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  box-shadow: 0 1px -2px #333;
  text-align: center; }

.post-container {
  padding: 25px 10px;
  padding-bottom: 150px;
  max-width: 700px;
  margin: 0 auto; }
  .post-container .post-title {
    text-align: center; }
    .post-container .post-title h3 {
      font-size: 2.5em;
      color: #48AD01; }
    .post-container .post-title h4 {
      font-size: 1.2em; }
    .post-container .post-title .post-date {
      font-size: 0.9em; }
  .post-container .post-content {
    font-size: 1.15em;
    margin-top: 25px; }
    .post-container .post-content p.indent {
      text-indent: 40px; }
    .post-container .post-content pre {
      border-radius: 0;
      padding: 0; }
    .post-container .post-content code:not(.ng-high-light) {
      background-color: #FFF;
      color: #f9690e;
      font-size: 0.8em;
      padding: 2px 5px; }
    .post-container .post-content .hljs {
      padding: 15px; }
    .post-container .post-content .aligncenter {
      display: block;
      margin: 0 auto; }
    .post-container .post-content .alignright {
      float: right;
      margin: 0 0 1em 1em; }
    .post-container .post-content .alignleft {
      float: left;
      margin: 0 1em 1em 0; }
    .post-container .post-content .floatleft {
      float: left; }
    .post-container .post-content .floatright {
      float: right; }

@media (max-width: 768px) {
  .post-container {
    padding-bottom: 210px; } }
