
.navbar {
  z-index: 4000;
  height: 100px;
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2);
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  background-color: #FFF;
  .navbar-nav {
    .navbar-close {
      background-color: transparent;
      border: 0;
      right: 0;
      color: #FFF;
      padding: 4px 10px;
      margin: 5px 20px 10px auto;
      font-size: 1.2em;
    }
    & > li {
      & > a {
        background-color: transparent;
        color: #0B8389;
        line-height: 100px;
        vertical-align: middle;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        padding: 0 2em;

        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
      }
      & > a:hover {
        background-color: transparent;
        color: #555;
        cursor: pointer;
      }
    }
    & > li:last-child {
      a {
      padding-right: 0;
    }
    }
    & > li.active {
      & > a {
        background-color: transparent;
        color: #0B8389;
      }
      & > a:hover {
        background-color: transparent;
      }
    }
  }
}
.navbar {
  padding-left: 0;
  border-bottom: 0;
  background-color: #FFF;
  box-shadow: none;
  .navbar-header {
    border-bottom: 0 solid #e7e7e7;
    .navbar-brand {
      margin-left: 0;
      display: block;
      padding: 0;
      overflow: hidden;
      font-family: 'Varela Round', sans-serif;
      height: 100px;
      -webkit-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      img {
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        filter: brightness(0.3);
        -webkit-filter: brightness(0.3);
        margin: 10px;
        height: 80px;
        width: auto;
      }
    }
    .navbar-expand-toggle {
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      opacity: 0.75;
    }
    .navbar-toggle {
      border-radius: 0;
      border: 0;
      background-color: transparent;
      line-height: 40px;
      vertical-align: middle;
      height: 40px;
      .icon-bar {
        background-color: #FFF;
      }
    }
  }
  @media (max-width: 768px) {
    .navbar-collapse {
      border-top: 0;
      background-color: rgba(85,195,77,1);
      position: absolute;
      top: 0;
      width: 100%;
      box-shadow: none;
      border-bottom: 0;
    }
  }
}
.navbar-affix {
  width: 100%;
  border-top: 2px rgba(78, 205, 196, 0.8);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: fixed;
  -webkit-box-shadow: 0 0 6px 0 rgba(96, 100, 109, 0.4);
  box-shadow: 0 0 6px 0 rgba(96, 100, 109, 0.4);
}
.navbar.affix, .navbar.min {
  height: 60px;
  .navbar-header {
    .navbar-brand {
      height: 60px;
      img {
        height: 40px;
      }
    }
  }
  .navbar-nav {
    & > li {
      & > a {
        line-height: 60px;
      }
    }
  }
}

.loading-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 70px;
  height: 70px;
  padding: 10px;
  text-align: center;
  z-index: 4000;
  margin: 20px auto;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
  animation-duration: 0.3s;

  md-progress-circular {
    position: absolute;
    top: -16px;
    left: -16px;
  }

  md-progress-circular.md-hue-2 .md-inner .md-gap {
    border-top-color:rgba(85,195,77,1);
    border-bottom-color:rgba(85,195,77,1);
  }
  md-progress-circular.md-hue-2 .md-inner .md-left .md-half-circle {
    border-left-color: rgba(85,195,77,1);
  }

  md-progress-circular.md-hue-2 .md-inner .md-right .md-half-circle {
    border-right-color: rgba(85,195,77,1);

  }

  md-progress-circular.md-hue-2 .md-inner .md-left .md-half-circle, md-progress-circular.md-hue-2 .md-inner .md-right .md-half-circle {
      border-top-color: rgba(85,195,77,1);
  }

  i {
    position: absolute;
    font-size: 86px;
    top: 0;
    left: 0;
    margin-top: -26px;
    color: #FFF;
  }
}
