.app-header {
  padding-top: 100px;
  min-height: 500px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  text-align: center;

  img.logo {
    width: 150px;
    height: auto;
  }
}

// Blog
.blog-list-container {
  display: block;
  position: relative;
  padding-bottom: 100px;
  .sidebar {
    display: block;
    position: relative;
    padding: 45px 15px;
  ul.blog-categories {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
      display:block;
      a {
        display: block;
        padding: 8px 15px;
        color: #212121;
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        text-decoration: none;
      }
    }
    & > li.active {
      background-color: rgba(85,195,77,1);
      a {
        color: #fff;
      }
    }
    & > li:hover {
      cursor: pointer;
      background-color: #FFF;
    }
    & > li.active:hover {
      cursor: pointer;
      background-color: rgba(85,195,77,1);
    }
  }
}
  .blog-list {
    display: block;
    position: relative;
    padding: 45px 15px;
    .blog {
      text-decoration: none;
      display: block;
      animation-duration: 0.5s;
      margin-bottom: 30px;

      & > div {
        background-color: #FFF;
        padding: 30px;
        border-radius: 2px;
        box-shadow: 0 1px 1px #CCC;

        .title {
          color: #444;
          text-decoration: none;

          h4 {
            color: #0B8389;
            font-weight: 600;
            font-family: 'Lato', sans-serif;
          }

          p {

            font-family: 'Lato', sans-serif;
          }
        }

        a:hover {
          text-decoration: none;
        }
      }
      & > div.thumbnail-min {
        .thumbnail {
          margin-right: 30px;
          margin-bottom: 0;
          float: left;
          text-align: center;
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: 2px;
          border: 0;

          img {
            height: 100px;
            width: auto;
          }

        }
      }
      & > div:after {
        position: relative;
        display: block;
        content: '';
        clear: both;
      }
    }
  }
}

@media (max-width: 768px) {
  .blog-list-container {
    padding-bottom: 160px;
  }
}
.post-loading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin-bottom: 30px;

  i {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
